<% layout('/layouts/boilerplate')%>
<div class="alert-danger">
    <div class="row">
        <div class="col-6 offset-3" role="alert"></div>>
            <h4 class="alert-heading"><%=err.message%></h4>
            <p><%=err.stack%></p>
        </div>
    </div>
</div>